<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR code</title>
</head>
<body>
    <h1>Scan Code</h1>
    <div>
        <img src="/qr-code.png" alt="QR Code">
    </div>
</body>
</html>